h1 {
    color:blue
}

.header{
    background-color:#800080;
    display:flex;
    justify-content: space-between;
}
.menu{
    background-color: yellowgreen;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}
body{
    background-color:#808080
}